<ion-tabs>

  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jamu">
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label>Jamu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resep">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Resep</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pengingat">
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>Pengingat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>